*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*::after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
   height: 100%;
   width: 100% ;
   font-size: 100% ;
   line-height: 1 ;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-ms-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.body{
   


}
.content{
   max-width: 1100px;
   margin: 0 auto;
   padding: 0px 10px ;
   padding: 0 30px 0 30 px;
   border-left: 1px solid rgba(209, 209, 178, 0.658);
   border-right: 1px solid rgba(209, 209, 178, 0.658);
   box-shadow: 0 0 9px 4px  rgba(214, 213, 213, 0.445);

}

.content-image{
   

}
.content-imagn-block{
   margin: 0 200px;

}



.content-text-web1{
   text-align: center;
}



.content-text-web1 span{
   line-height: 60px;
   font-size: 20px;
   padding: 20px;
   text-decoration-line: underline ;
   word-spacing: 5px;
   font-weight: 700;
   color: rgba(34, 32, 32, 0.829)
}

.content-text-web1 span:hover{
   color: rgb(221, 105, 27);
}


.content-text2{
  
}


.block-img{

}

.block-info{ 

}

.block-info-list li:nth-child(1){
   padding: 20px 0 30px 0;
}

.block-info-list li:nth-child(2) span{
   padding: 30px 0 30px 0;
   font-weight: 700;
}

.block-info-list li:nth-child(3){
   padding: 30px 0 20px 0;
}

.block-info-list li:nth-child(4){
   padding: 20px 0 30px 0;
}

.block-info-list li:nth-child(5) span{
   padding: 30px 0 30px 0;
   font-weight: 700;
}

.block-info-list li:nth-child(6) {
   padding: 30px 0 30px 0;
   
}

.line{
   border-top: 1px solid rgba(201, 201, 197, 0.986);
  
   
}
.content-bottom-info{
   padding: 60px 0 0px 0;
}

.line2{
   border-bottom: 1px solid rgba(201, 201, 197, 0.986);
   padding: 8px;
}
.block-info-link{
   padding:60px 0 0px 0 ;
}


